.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-primary {
    color: #ba0a0a; // SAP Blue
    margin-right: 5px;
  }

  .logo-secondary {
    color: #333;
  }
}
